aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
altgraph==0.17.4
anitopy==2.1.1
ansicon==1.89.0
anyio==4.10.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
astroid==3.3.11
asyncio==4.0.0
attrs==25.3.0
audioop-lts==0.2.2
autopep8==2.3.2
babelfish==0.6.1
beautifulsoup4==4.13.4
blessed==1.21.0
Brotli==1.1.0
bs4==0.0.2
certifi==2025.8.3
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
coloredlogs==15.0.1
construct==2.10.70
contourpy==1.3.3
cryptography==45.0.6
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
decorator==5.2.1
dill==0.4.0
distlib==0.4.0
docopt==0.6.2
editor==1.6.6
et_xmlfile==2.0.0
filelock==3.19.1
flatbuffers==25.2.10
fonttools==4.59.1
frozenlist==1.7.0
fsspec==2025.7.0
fuzzywuzzy==0.18.0
googlesearch-python==1.3.0
googletrans==4.0.2
guessit==3.8.0
h11==0.16.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
inquirer==3.4.1
inquirerpy==0.3.4
iso639-lang==2.6.3
isort==6.0.1
Jinja2==3.1.6
jinxed==1.3.0
JSON-log-formatter==0.5.2
kiwisolver==1.4.9
langdetect==1.0.9
langid==1.1.6
Levenshtein==0.27.1
linkify-it-py==2.0.3
llvmlite==0.44.0
lxml==6.0.0
makemkv==0.3.1
mando==0.7.1
markdown-it-py==4.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.5
mccabe==0.7.0
mdit-py-plugins==0.5.0
mdurl==0.1.2
more-itertools==10.7.0
moviepy @ git+https://github.com/Zulko/moviepy.git@2092f3732f929ee01d3bdd6a96e32ab76e2d1d31
mpmath==1.3.0
multidict==6.6.4
musicbrainzngs==0.7.1
mutagen==1.47.0
networkx==3.5
numba==0.61.2
numpy==2.2.6
onnxruntime==1.22.1
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.2
peewee==3.18.2
peewee-migrate==1.13.0
pefile==2023.2.7
pfzy==0.3.4
pillow==11.3.0
platformdirs==4.3.8
prettytable==3.16.0
proglog==0.1.12
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.32.0
psutil==6.0.0
py-cpuinfo==9.0.0
pycodestyle==2.14.0
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
Pygments==2.19.2
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
pykeepass==4.1.1.post1
pylint==3.3.8
pylnk3==0.4.3
pyotp==2.9.0
pyparsing==3.2.3
pypiwin32==223
pypresence==4.3.0
PyQt6==6.9.1
PyQt6-Qt6==6.9.1
PyQt6_sip==13.10.2
pyreadline3==3.5.4
PySocks==1.7.1
pysrt==1.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-Levenshtein==0.27.1
pytz==2025.2
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
radon==6.0.1
RapidFuzz==3.13.0
readchar==4.2.1
rebulk==3.2.0
regex==2025.7.34
requests==2.32.4
requests-futures==1.0.2
requests-toolbelt==1.0.0
rich==14.1.0
ruff==0.12.9
runs==1.2.2
schedule==1.2.2
selenium==4.35.0
setuptools==80.9.0
sherlock-project==0.15.0
silero-vad==5.1.2
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
SpeechRecognition==3.14.3
srt==3.5.3
standard-aifc==3.13.0
standard-chunk==3.13.0
stem==1.8.2
swagger-ui-py==25.7.1
sympy==1.14.0
tabulate==0.9.0
termcolor==3.1.0
textual==5.3.0
thefuzz==0.22.1
tiktoken==0.11.0
tkVideo==0.1
tomlkit==0.13.3
torch==2.8.0
torchaudio==2.8.0
tornado==6.3.3
tqdm==4.67.1
trio==0.30.0
trio-websocket==0.12.2
typing_extensions==4.14.1
tzdata==2025.2
uc-micro-py==1.0.3
Unidecode==1.4.0
unmanic==0.3.0.post9
urllib3==2.5.0
virtualenv==20.34.0
vosk==0.3.45
watchdog==6.0.0
wcwidth==0.2.13
webrtcvad==2.0.10
websocket-client==1.8.0
websockets==15.0.1
wheel==0.45.1
whisper==1.1.10
windows-curses==2.4.1
wsproto==1.2.0
xmod==1.8.1
yala==3.2.0
yarl==1.20.1
yt-dlp==2025.8.11
